@using Shop.Models;
@{
    List<Order> orders = ViewBag.Orders;
    ViewBag.Title = "Корзина";
}

<h2>Корзина</h2>
@using (Html.BeginForm("Checkout", "Buy"))
{
    if (orders != null && orders.Count != 0)
    {
        <table class="table">
            <tr>
                <th>

                </th>
                <th>
                    <span>Артикул</span>
                </th>
                <th>
                    <span>Наименование</span>
                </th>
                <th>
                    <span>Поставщик</span>
                </th>
                <th>
                    <span>Цена за еденицу товара</span>
                </th>
                <th>
                    <span>Количество</span>
                </th>
                <th>

                </th>
            </tr>
            @{ int j = 0;}
            @foreach (var order in orders)
            {
                <tr>
                    <td>
                        @Html.CheckBox("Checked")
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.partNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.itemTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.supplierTitle)
                    </td>
                    <td>
                        @order.price
                    </td>
                    <td>
                        @Html.ActionLink("Просмотр товара", "Item", "Home", new { id = order.Item.id }, null) |
                        @Html.ActionLink("Удалить", "DeleteOrder", "Buy", new { orderId = order.id }, null)
                    </td>
                </tr>
                { j++; }
            }
        </table>
        <input type="submit" value="Оформить заказ">
    }
    else
    {
        <p>В корзине пока нет товаров! Добавьте их, чтобы сделать заказ</p>
        @Html.ActionLink("Перейти к каталогу", "Index", "Home", null, null);
    }
}