<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Товары", "Items", "Admin")</li>
    <li>@Html.ActionLink("Категори", "Categories", "Admin")</li>
    <li>@Html.ActionLink("Поставщики", "Suppliers", "Admin")</li>
    <li>@Html.ActionLink("Прайсы", "Prices", "Admin")</li>
    <li>@Html.ActionLink("Виды доствки", "Deliveries", "Admin")</li>
    <li>@Html.ActionLink("Характеристики", "Details", "Admin")</li>
</ul>
